*.png
*.dump

# XXX should compile and run these properly instead of using "go run" so they
# don't leave binaries lying around.
exe_reader/print_tracks/print_tracks
genetic/run_experiment/runners
genetic/get_old_experiments/get_old_experiments
genetic/get_latest_track/get_latest_track
server/server
rle/decode_td6/decode_td6
rle/encode_td6/encode_td6
tracks/branch_factor/branch_factor
