<!DOCTYPE html>
<html lang="en">
  <head>
    <title>GRCT</title>
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css">
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap-theme.min.css">
		<style>
			#coaster-target {
				width: 1200px;
				height: 1200px;
			}
		</style>
  </head>
  <body>
    <div>
      <header>
        <h1>Genetic Roller Coaster Tycoon</h1>
      </header>
      <section id="content">
        {{template "content" .}}
      </section>
      <footer>
      </footer>
    </div>
  </body>
</html>
