<!doctype html>
<html>
	<head>
		<title>RCT2 Iteration Viewer</title>
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css">

		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap-theme.min.css">
		<style>
			#coaster-target {
				width: 1200px;
				height: 1200px;
			}
		</style>
	</head>
	<body>
		<h1>{{ .Id | truncate 17 }}</h1>

		Score: {{ .Score }}<br>
		Fitness: {{ .Fitness }}

		<div id="coaster-target"></div>

		<script type="text/javascript" src="//ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
		<script>window.jQuery || document.write('<script src="/static/jquery.min.js"><\/script>')</script>
		<script src="/static/three.min.js"></script>
		<script>
			var drawCoasterCallback = function(data) {

				var vectors = [];
				for (var i = 0; i < data.length; i++) {
					var val = data[i];
					console.log(data[i]);
					vectors.push(new THREE.Vector3(val[0], val[1], val[2]));
				}

				var geometry = new THREE.Geometry();
				var curve = new THREE.SplineCurve3(vectors);
				var points = curve.getPoints( 50 );
				geometry.vertices = points;
				var material = new THREE.LineBasicMaterial({
					color: 0xff0000,
					linewidth: 1
				});
				var splineObject = new THREE.Line( geometry, material );
				// console.log(splineObject);

				var scene = new THREE.Scene();
				
				// var parent = new THREE.Object3D();
				// parent.position.y = 100;

				var camera = new THREE.PerspectiveCamera( 80, window.innerWidth / window.innerHeight, 1, 1000 );
				// camera.position.set(0, 50, 500);

				var renderer = new THREE.WebGLRenderer();
				renderer.setSize(1200, 1200);

				var coasterTarget = document.getElementById( 'coaster-target' );
				coasterTarget.appendChild( renderer.domElement );

				scene.add( splineObject );

				/*var geometry = new THREE.BoxGeometry( 1, 1, 1 );
				var material = new THREE.MeshBasicMaterial( { color: 0x00ff00 } );
				var cube = new THREE.Mesh( geometry, material );
				scene.add( cube );
				*/

				camera.position.z = 80;

				function render() {
					requestAnimationFrame( render );
					renderer.render( scene, camera );
				}
				render();

			}

			var currentUrl = window.location.pathname;
			$.getJSON(currentUrl+'/render', function(data) {
				drawCoasterCallback(data);
			});
		</script>
	</body>
</html>
